* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  color: white;
  background: url("../public/img/bg.jpeg");
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (max-width: 675px) {
    scroll-snap-align: center;
  }
}

.hero {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;

  @media only screen and (max-width: 675px) {
    height: 100vh;
    padding: 5rem;
  }

  .containerHero {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: 675px) {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      @media only screen and (max-width: 675px) {
        width: 100%;
        flex: 1;
        align-items: center;
      }
      .do {
        display: flex;
        align-items: center;
        gap: 3px;

        .line {
          height: 5px;

          @media only screen and (max-width: 1280px) {
            height: 3px;
          }
        }
      }

      .lineText {
        font-size: 1.3rem;
        color: #fa4141;

        @media only screen and (max-width: 1280px) {
          font-size: 1rem;
        }
      }

      .Text {
        font-size: 1.5rem;

        @media only screen and (max-width: 675px) {
          text-align: center;
        }
      }

      .more {
        background-color: #fa4141;
        color: white;
        font-weight: 500;
        width: 100px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      position: relative;

      @media only screen and (max-width: 675px) {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .moon {
        width: 800px;
        height: 550px;
        object-fit: contain;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        animation: animate 2s infinite ease alternate;

        @media only screen and (max-width: 1300px) {
          height: 400px;
          width: 400px;
          display: flex;
          justify-content: center;
        }

        @media only screen and (max-width: 675px) {
          padding-top: 2rem;
          padding-right: 2rem;
          height: 250px;
          width: 250px;
          display: flex;
          justify-content: center;
        }

        @keyframes animate {
          to {
            transform: translateY(20px);
          }
        }
      }
    }
  }
}

.navbar {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 15px;

  @media only screen and (max-width: 675px) {
    width: 100%;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

    @media only screen and (max-width: 675px) {
      width: 100%;
      padding: 10px;
      justify-content: space-between;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 50px;

      .logo {
        height: 5rem;
      }

      .list {
        display: flex;
        gap: 3rem;
        list-style: none;
        cursor: pointer;
        font-size: 15px;

        @media only screen and (max-width: 675px) {
          display: none;
        }
      }
    }

    .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      .search {
        width: 20px;

        @media only screen and (max-width: 675px) {
          display: none;
        }
      }

      .button {
        border: none;
        outline: none;
        background-color: #fa4141;
        color: white;
        width: 4rem;
        height: 1.5rem;
        padding: 3px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

.who {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  width: 90%;

  @media only screen and (max-width: 675px) {
    height: 115vh;
    width: 100%;
  }

  .containerWho {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: 675px) {
      display: flex;
      justify-content: space-around;
      flex-direction: column-reverse;
      text-align: center;
      height: 100%;
    }

    @media only screen and (max-width: 1300px) {
      display: flex;
      justify-content: space-around;
      height: 100%;
    }

    .left {
      flex: 1;
      display: flex;
      justify-content: center;
      position: relative;

      @media only screen and (max-width: 1300px) {
        width: 65%;
        display: flex;
        justify-content: center;
      }

      @media only screen and (max-width: 675px) {
        height: 0;
        display: flex;
        justify-content: center;
      }
    }

    .right {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;

      @media only screen and (max-width: 1300px) {
        width: 35%;
        display: flex;
        justify-content: center;
      }

      .topic {
        font-size: 24px;
        color: lightgray;

        @media only screen and (max-width: 675px) {
          height: 0vh;
          display: flex;
          justify-content: center;
        }
      }

      .h1 {
        font-size: 5rem;
        display: flex;

        @media only screen and (max-width: 675px) {
          display: flex;
          justify-content: center;
        }
      }
      .do {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media only screen and (max-width: 675px) {
          align-items: center;
        }

        @media only screen and (max-width: px) {
          width: 35%;
        }
      }

      .lineText {
        color: #fa4141;
      }

      .lineTexts {
        font-size: 20px;
        width: 35rem;
        color: lightgray;

        @media only screen and (max-width: 675px) {
          width: 20rem;
        }

        @media only screen and (max-width: 1300px) {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }
      }

      /* .more{
        height: 1.2rem;
        width: max-content;
        padding: 2px;
        font-size: 10px;
        background-color: #fa4141;
        color: white;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer; */

      .more {
        background-color: #fa4141;
        color: white;
        font-weight: 500;
        width: 100px;
        padding: 6px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        @media only screen and (max-width: 675px) {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.works {
  height: 110vh;
  scroll-snap-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media only screen and (max-width: 675px) {
    height: 100vh;
    scroll-snap-align: center;
  }

  .top {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media only screen and (max-width: 675px) {
      height: 20vh;
      height: max-content;
      scroll-snap-align: center;
      display: flex;
      justify-content: center;
    }

    .topic {
      font-size: 24px;
      color: lightgray;

      @media only screen and (max-width: 675px) {
        display: flex;
        justify-content: center;
      }
    }

    .h1 {
      font-size: 3.5rem;
      display: flex;

      @media only screen and (max-width: 675px) {
        display: flex;
        justify-content: center;
      }
    }
    .do {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .lineText {
      color: #fa4141;

      @media only screen and (max-width: 675px) {
        display: flex;
        justify-content: center;
        scroll-snap-align: center;
      }
    }

    .lineTexts {
      font-size: 20px;
      width: 45rem;
      color: lightgray;

      @media only screen and (max-width: 675px) {
        width: 100%;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
      }

      @media only screen and (max-width: 1300px) {
        width: 100%;
        padding: 10px 0px;
        display: flex;
        justify-content: center;
      }
    }
  }

  .cardList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    @media only screen and (max-width: 675px) {
      height: 0;
      width: 100vw;
      gap: 10px;
      padding-top: 1rem;
      padding-right: 3rem;
      scroll-snap-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    @media only screen and (max-width: 1300px) {
      height: 0;
      width: 100%;
      gap: 10px;
      scroll-snap-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #05051f;
    border-radius: 1rem;
    overflow: hidden;

    @media only screen and (max-width: 675px) {
      scroll-snap-align: center;
      height: 15rem;
    }

    @media only screen and (max-width: 1300px) {
      scroll-snap-align: center;
      width: 100%;
      height: 20rem;
    }

    .image {
      display: flex;
      justify-content: center;

      @media only screen and (max-width: 675px) {
        height: 6rem;
      }

      .cardImage {
        width: 100%;
        object-fit: contain;
        border-radius: 5px;
      }
    }
  }

  .cardTitle {
    @media only screen and (max-width: 1300px) {
      font-size: 1rem;
    }

    .cardInfo {
      font-size: 0.8rem;

      @media only screen and (max-width: 1300px) {
        font-size: 0.6rem;
      }
    }
  }
}

.contact {
  height: 100vh;
  scroll-snap-align: center;
  width: 90%;
  padding: 5rem 0rem;
  display: flex;

  @media only screen and (max-width: 675px) {
    height: 120vh;
    width: 100%;
    margin-top: 45rem;
    display: flex;
    justify-content: center;
  }

  .contactContainer {
    display: flex;
    height: 100%;
    width: 100%;

    @media only screen and (max-width: 675px) {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
      height: 100vh;
    }

    .left {
      flex: 2;
      width: 100%;

      @media only screen and (max-width: 675px) {
        height: 70%;
      }

      .module {
        .topic {
          color: lightgray;
          font-size: 25px;

          @media only screen and (max-width: 1300px) {
            font-size: 20px;
          }
        }

        .h1 {
          font-size: 60px;

          @media only screen and (max-width: 1300px) {
            font-size: 45px;
          }
        }
      }

      .contactForm {
        width: 70%;
        height: 110%;
        background-color: #05051f;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 1rem;

        @media only screen and (max-width: 675px) {
          height: 95%;
          margin: 0rem 2rem;
        }

        .name {
          width: 100%;
          height: 8%;
          outline: none;
          border: none;
          border: none;
          border-radius: 5px;
          background-color: #080831;
          color: gray;
          padding: 1rem;
        }

        .email {
          width: 100%;
          height: 8%;
          outline: none;
          border: none;
          border-radius: 5px;
          background-color: #080831;
          color: gray;
          padding: 1rem;
        }

        .message {
          width: 100%;
          height: 32%;
          outline: none;
          border: none;
          border-radius: 5px;
          background-color: #080831;
          color: grey;
          padding: 1rem;
        }

        .send {
          font-size: 100%;
          width: 100%;
          height: 8%;
          outline: none;
          border: none;
          border-radius: 5px;
          color: gray;
          background-color: #080831;
          cursor: pointer;
        }
      }
    }

    .right {
      padding: 2rem;
      flex: 2;
      height: 30rem;

      @media only screen and (max-width: 675px) {
        scroll-snap-align: center;
        height: 40%;
        margin-top: 2rem;
      }
    }
  }
}
